body{
    background: magenta;
}

.center-todobox2{
    order: 1;
   
    top: 100px;

    width: 337px;
   
   }

.listbody2{
    display: flex;    
    width: 337px;
    height: 50px;
    margin-top: 31px;
    background: #2ecc71;
  
    border-radius: 5px 5px  30px ;
    color: #fff; 
    align-items: center;
}
.listbody2 li{
    list-style: none;
    font-size: 25px;
    margin-left: 20px;
    
}