

/* .center-todobox2{
    order: 1;
   
    top: 100px;

    width: 337px;
   
   } */
  .center-todobox2 ul{    

       
    width: 100%;
  
    min-height: 297px;
    list-style: none;  
    position: relative;
   }

.listbody2{
    display: flex;    
    width: 100%;
    min-height: 100px;
    margin-top: 31px;
    background: black;
  
    /* border-radius: 5px 5px  30px ; */
    color: rgb(119 119 119); 
    align-items: center;
    box-shadow: 0 3px 5px green;
}
.listbody2:hover{
    cursor: pointer;
}
.listbody2 li{
    list-style: none;
    font-size: 25px;
    margin-left: 20px;
    background: inherit;
    
}