.center-todo{
    background: #2ecc71;
    height: 40px;
    width: 240px;
    margin: auto;
    margin-top: 8rem;
}
.center-sub{
    display: flex;  
 
}

.list-body{
    width: 20px;
}

/* k */

.carrier{
    width: 100%;
    height: 100px;    
    position: absolute;
    top: 100px; 
   
   

}


header h1{
    text-align: center;
    color: #4ef593;
    font-size: 73px;
    padding: 10px;
  }

.input-section{
    display: flex;
   
    align-items: center;
    width: 340px;
    height: 50px;
  
   margin-left: 385px;
    margin-top: 25px;
    
} 
.input-box{
    height: 40px; 
}
.input-box input{
    box-sizing: border-box;
    width: 282px;
    padding: 8px;
    font-size: 20px;
    border: none;
    
    font-family: 'Suez One', serif;
    color: #4ef593;
    background: #35d6783d;
    border-radius: 5px;
}   
.input-box input:focus{
   outline:  none;
  
    
}
.input-box input:hover{
    background: #268d513b;
}
.input-btn{
    height: 45px ;  
    box-sizing: border-box;
 
   
  
}


.input-btn span {   
    margin-bottom: 100px;
    margin-left: 15px;
    cursor: pointer;      
    color: #2ecc71;
    font-size: 48px;
   

  
   
  }
  .input-btn span:hover{
    color: #4ef593;
  }

