

.center-todobox3{
    order: 3;
    top: 100px;

    width: 337px;
   
   
  
}
.list-bodyr{
    display: flex;    
    width: 337px;
    height: 50px;
    margin-top: 31px;
    background: #2ecc71;
    margin-left: 0;
    border-radius: 5px 5px  30px ;
    color: #fff;  
    
}
.li-divr{
    
    flex: 6;
    height: 100%;   

 align-items: center;

 
}
 .li-div-subr {
    padding: 10px;
    
    align-items: center;
 }
 .li-div-subr li {
    font-size: 25px;
    margin-left: 20px;
    list-style: none;
    height: 50px;
/* margin-top: 10px; */
    
}

.li-btnr{    
    flex: 1;
   
}
.li-btnr span{
    position: relative;
    
    color: #fff;
    left: 3px;
    top: 14px;
   
    font-size: 23px;

    
}