

.center-todobox3{
    order: 3;
    top: 100px;

    width: 337px;
   
   
    background: rgb(0, 255, 234)
}
.list-bodyr{
    display: flex;    
    width: 337px;
    height: 50px;
    margin-top: 20px;
    background: #2ecc71;
    margin-left: 0;
    border-radius: 5px 5px  30px ;
    color: #fff;  
}
.li-divr{
   
    flex: 6;
    height: 100%;   
 background: red;  
}
.li-divr-sub{
    padding: 10px;
 }
 .li-divr li {
    font-size: 25px;
    margin-left: 100px;
    list-style: none;
}

.li-btnr{    
    flex: 1;
   
}
.li-btnr span{
    position: relative;
    
    color: #fff;
    left: 3px;
    top: 14px;
   
    font-size: 23px;

    
}