
.center-todobox3 ul{   

       
    width: 337px;
    margin: auto;
    height: 297px;
    list-style: none;  
    position: relative;
}

.list-bodyr{
    display: flex;    
    width: 337px;
    height: 50px;
    margin-top: 31px;
    background: black;
    margin-left: 0;
    /* border-radius: 5px 5px  30px ; */
    color:rgb(119 119 119); 
    box-shadow: 0px 3px 5px red;

    
    
}
.li-divr{
    background: inherit;
    flex: 6;
    height: 100%;   

 align-items: center;

 
}
 .li-div-subr {
   margin-left: 20px;
   margin-top: 8px;
   

    background: inherit;
    align-items: center;
 }
 .li-div-subr li {
    font-size: 25px;
    margin-left: 20px;
    list-style: none;
    height: 31px;
    background: inherit;
    
/* margin-top: 10px; */
    
}

.li-btnr{    
    flex: 1;
    background: inherit;
   
}
.li-btnr span{
    position: relative;
    
    color:rgb(119 119 119); 
    left: 3px;
    top: 14px;
    background: inherit;
    font-size: 23px;    
}
.li-btnr span:hover{
    cursor: pointer;
}