

[time]::before {
    
    content: attr(time);
    color: #434443;
    position: relative;
    top: 60px;
    width: 55px;
    font-size: 14px;
   
    height: 15px;
  }

[date]::after {
    content: attr(date);
    color: #434443;
    position: relative;
    top: 60px;
   
    width: 75px;
    font-size: 14px;

    height: 15px;
  
  }


.carrier-sub{
    display: flex;
    justify-content: space-between;

   
  
    margin-top: 100px;
   
    height: 300px;
 
}


   
.completed{
    text-decoration: line-through;
    opacity: 0.5;
}
.centerTodobox{
    width: 100%;
    min-height: 50px;
   
}


.centerTodobox ul{   

       
    width: 100%;
    margin: auto;
    min-height: 297px;
    list-style: none;  
    position: relative;
    
}


.listBody{
    display: flex;  
    justify-content: space-between;  
    align-items: center;
    width: 100%;
    min-height: 100px;
    margin-top: 31px;
    background: black;
    margin-left: 0;
    /* border-radius: 5px 5px  30px ; */
    color:rgb(119 119 119); 
    box-shadow: 0px 3px 5px rgb(4, 19, 233);      
}
.listBody li{
    list-style: none;
    font-size: 25px;
    background: inherit;
}
.list-body:hover{
    cursor: not-allowed;
}
.list-body-none{
    display: none;
}

.liDiv{
    height: 50px;
    min-width: 50px;
    display: flex;
    align-items: center;
    margin-left: -222px;

 
}

.li-div:hover{
    cursor: pointer;
}

.liBtn {   
    display: flex;
    align-items: center;
    background: inherit;
    height: 50px;
    width: 50px;
    margin-right: -252px;
    justify-content: space-between;
}
.liBtn span{
    position: relative;
    margin-top: 35px;
    color: rgb(119 119 119);
    left: 3px;
    top: -17px;
    background: inherit;
    font-size: 23px; 
}
.liBtn span:hover{
    cursor: pointer;
}


.li-button{
    height: 100%;
    width: 20%;   
    background: inherit;
}



/* .center-todobox ul .list-body.li-div{
    margin-top: 100px;
} */

/* .listbodydone{
    position: relative;
    background: yellow;
    width: 100px;
    height: 100px;
    right: 200px;
} */
/* .completed2{
    width: 0;
    height: 0;
} */