.container
{
    padding: 10px;
}

  


header h1{
    text-align: center;
   color: rgb(119 119 119);
    font-size: 73px;
    padding: 10px;
  }
  @media (min-width: 768px){
.col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
    margin-top: 50px;
}
}
